{% extends "global_watershed_delin/base.html" %}

{% load tethys_gizmos %}

{% load staticfiles %}

{% block styles %}
{{ block.super }}
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
	<link rel="stylesheet" href="https://js.arcgis.com/3.16/dijit/themes/claro/claro.css">

    <style>
      #mapDiv {
        height: 500px;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      #search {
        height: 50px;
        width: 500px;
      }
    </style>
{% endblock %}

{% block app_navigation_items %}

<div id="search"></div>

{% gizmo button btnCompute %}

<div id="statusDiv">
    <p id="delinstatus"></p>
  </div>

<a name="btnUpload" class="btn btn-default" id="btnUpload" data-toggle="modal" data-target="#hydroshare-modal" role="button">
            <span class="glyphicon hydroshare" aria-hidden="true"></span>
            <img src="/static/global_watershed_delin/images/Hydroshare.GIF" height="30px"/>Upload to HydroShare
        </a>

{% endblock %}

{% block app_content %}

<div id="mapDiv"></div>

{% endblock %}

{% block scripts %}
<div class="modal fade" id="hydroshare-modal" tabindex="-1" role="dialog" aria-labelledby="AddHydroshareResource">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title">Upload File to HydroShare as a Resource(*Required)</h6>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="resource-title" class="control-label">*Resource Title:</label>
                    <input type="text" class="form-control" id="resource-title">
                </div>
                <div class="form-group">
                    <label for="resource-type" class="control-label">*Resource Type:</label>
                    <select class="form-control" id="resource-type">
                        <option>Generic</option>
                        <option>Geographic Feature</option>
                        <!--<option>HIS Referenced Time Series</option>-->
                        <!--<option>Model Program</option>-->
                        <!--<option>Model Instance</option>-->
                        <!--<option>Multidimensional (NetCDF)</option>-->
                        <!--<option>Time Series</option>-->
                        <!--<option>Application</option>-->
                    </select>
                </div>
                <div class="form-group">
                    <label for="resource-abstract" class="control-label">*Resource Abstract:</label>
                    <textarea rows="6" cols="50" id="resource-abstract" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="resource-keywords" class="control-label">*Resource Keywords:</label>
                    <input type="text" class="form-control" id="resource-keywords">
                </div>
            </div>
            <div class="modal-footer">
                <div id="display-status" class="col-md-8"></div>
                <div id="footer-buttons" class="col-md-4">
                    <button type="button" class="btn btn-default footer" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary footer" id="hydroshare-proceed">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>
  {{ block.super }}
  <script src="https://js.arcgis.com/3.16/"></script>
  <script src="{% static 'global_watershed_delin/js/main.js' %}"></script>
  <script src="https://cdn-geoweb.s3.amazonaws.com/terraformer/1.0.4/terraformer.min.js"></script>
  <script src="{% static 'global_watershed_delin/js/terraformer-arcgis-parser.min.js' %}"></script>

{% endblock %}

