{% extends "global_watershed_delin/base.html" %}

{% load tethys_gizmos %}

{% load staticfiles %}

{% block styles %}
{{ block.super }}
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
	<link rel="stylesheet" href="https://js.arcgis.com/3.16/dijit/themes/claro/claro.css">

    <style>
      #mapDiv {
        height: 500px;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      #search {
        height: 50px;
        width: 500px;
      }
    </style>
{% endblock %}

{% block app_navigation_items %}

<div id="search"></div>

{% gizmo button btnCompute %}

<div id="statusDiv">
    <p id="delinstatus"></p>
  </div>

{% gizmo button btnUpload %}

{% endblock %}

{% block app_content %}

<div id="mapDiv"></div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="https://js.arcgis.com/3.16/"></script>
  <script src="{% static 'global_watershed_delin/js/main.js' %}"></script>
  <script src="https://cdn-geoweb.s3.amazonaws.com/terraformer/1.0.4/terraformer.min.js"></script>
  <script src="{% static 'global_watershed_delin/js/terraformer-arcgis-parser.min.js' %}"></script>

{% endblock %}

