<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7, IE=9, IE=10">
    <!--The viewport meta tag is used to improve the presentation and behavior of the samples
      on iOS devices-->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Watershed Delineation</title>

    <link rel="stylesheet" href="http://js.arcgis.com/3.8/js/esri/css/esri.css">
	<link rel="stylesheet" href="http://js.arcgis.com/3.8/js/dojo/dijit/themes/claro/claro.css">

    <style>
      html, body, #mapDiv {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      #info {
        bottom: 20px;
        color: #444;
        height: auto;
        font-family: arial;
        left: 20px;
        margin: 5px;
        padding: 10px;
        position: absolute;
        text-align: left;
        width: 200px;
        z-index: 40;
      }
    </style>

    <script src="http://js.arcgis.com/3.8/"></script>
    <script>
    require(["dojo/dom",
              "dojo/_base/Color",

              "esri/map",
              "esri/graphic",
              "esri/tasks/Geoprocessor",
              "esri/tasks/FeatureSet",
			  "esri/layers/ArcGISTiledMapServiceLayer",
			  "esri/layers/GraphicsLayer",
			  "esri/symbols/SimpleMarkerSymbol",
			  "esri/symbols/SimpleFillSymbol",
			  "esri/symbols/CartographicLineSymbol",
			  "esri/IdentityManager"
              ],
        function(dom, Color, Map, Graphic, Geoprocessor, FeatureSet, ArcGISTiledMapServiceLayer, GraphicsLayer, SimpleMarkerSymbol, SimpleFillSymbol, CartographicLineSymbol){

          var map, gp;


	//Initialize Map
            map = new Map("mapDiv", {
			  //basemap: "topo",
              center: [20.6, 0],
              zoom: 4
            });

            var basemap = new ArcGISTiledMapServiceLayer("http://server.arcgisonline.com/ArcGIS/rest/services/World_Terrain_Base/MapServer");
			var overlay = new ArcGISTiledMapServiceLayer("http://hydrology.esri.com/arcgis/rest/services/WorldHydroReferenceOverlay/MapServer");
			var tempPoint = new GraphicsLayer();
			var watersheds = new GraphicsLayer();
			map.addLayers([basemap, overlay, tempPoint, watersheds])

	//Set GP Symbology
			var outline = new CartographicLineSymbol(CartographicLineSymbol.STYLE_SOLID, new Color([0,0,0,1]), 2);
			outline.setCap(CartographicLineSymbol.CAP_ROUND);
			outline.setJoin(CartographicLineSymbol.JOIN_ROUND);

			var pointSymbol = new SimpleMarkerSymbol();
			pointSymbol.setStyle(SimpleMarkerSymbol.STYLE_CIRCLE)
            pointSymbol.setSize("10");
            pointSymbol.setColor(new Color([59, 148, 0, 1]));
			pointSymbol.setOutline(outline);

			var polySymbol = new SimpleFillSymbol();
			polySymbol.setColor(new Color([55,138,73,.25]));
			polySymbol.setOutline(outline);

	//Add Watershed Delineation Geoprocessing Function
			gp = new Geoprocessor("http://hydro.arcgis.com/arcgis/rest/services/Tools/Hydrology/GPServer/Watershed");
			gp.setOutSpatialReference({wkid: 102100});
			map.on("click", computeWatershed);

          function computeWatershed(evt) {
            var graphic = new Graphic(evt.mapPoint, pointSymbol);
            tempPoint.add(graphic);
			//window.setTimeout(function(){tempPoint.clear()}, 350);

            var features = [];
            features.push(graphic);
            var featureSet = new FeatureSet();
            featureSet.features = features;

            var params = {
              "InputPoints": featureSet,
			  "SnapDistance": "5000",
			  "SnapDistanceUnits": "Meters",
			  "SourceDatabase": "FINEST",
			  "Generalize": "True"
            };
            gp.submitJob(params, Callback, null, function(error){
			console.log("error", error, params);
		    window.alert("Sorry, we do not have data for this region at your requested resolution");
			});
			}

		  function Callback(jobInfo){
			gp.getResultData(jobInfo.jobId, "WatershedArea", drawWatershed);
			gp.getResultData(jobInfo.jobId, "SnappedPoints", drawSnappedPoint);
		  }

		  function drawWatershed(results) {
			console.log(results);
			var features = results.value.features;
			for (var f=0, fl=features.length; f<fl; f++) {
				var feature = features[f];
				feature.setSymbol(polySymbol);
				watersheds.add(feature);
		   }
           }

		  function drawSnappedPoint(results) {
		    console.log(results);
			tempPoint.clear()
		    var features = results.value.features;
			for (var f=0, fl=features.length; f<fl; f++) {
				var feature = features[f];
				feature.setSymbol(pointSymbol);
				map.graphics.add(feature);
			}
			}
    });
    </script>

  </head>
  <body class="claro">
    <div id="mapDiv"></div>
    <div id="info" class="esriSimpleSlider">
      Click on a stream to delineate its watershed. <br>
	  <a href="http://www.arcgis.com/home/item.html?id=8e48f6209d5c4be98ebbf90502f41077" target="Ref">More...</a>
    </div>
  </body>
</html>
